<br> </br>

<h1><p>Links To Croquet Sites :</p></h1>
1. SECF:
<p><%= link_to image_tag("secf.jpg"), "http://www.southeastcroquet.org.uk/" %></p>
2. Croquet Association:
<p><%=  link_to image_tag("croquet.gif"), "http://www.croquet.org.uk/" %></p>
3. Croquet Academy
<p><%= link_to image_tag("academy.gif"), "http://www.thecroquetacademy.com/" %></p>
4. Croquet Equipment
<p><%= link_to image_tag("oxford.gif"), "www.oxfordcroquet.com" %></p>
5. Croquet Glossary
<p><%= link_to image_tag("cornwall.gif"), "http://cornwall-croquet.org.uk/croquet_glossary.htm" %></p>